<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18128990275-smmvagqqbp96ha4cds0dsaic2ntpte04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18128990275-smmvagqqbp96ha4cds0dsaic2ntpte04</string>
	<key>API_KEY</key>
	<string>AIzaSyAIbhdpcYU3c7JRlbmLqjk4sYi4K-bqvts</string>
	<key>GCM_SENDER_ID</key>
	<string>18128990275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tabBar</string>
	<key>PROJECT_ID</key>
	<string>tab-bar-84d2e</string>
	<key>STORAGE_BUCKET</key>
	<string>tab-bar-84d2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18128990275:ios:4e716419ea44c579e4e4f6</string>
	<key>DATABASE_URL</key>
	<string>https://tab-bar-84d2e-default-rtdb.firebaseio.com</string>
</dict>
</plist>